@model IEnumerable<ATM.Models.Operation>

@{
    ViewData["Title"] = "Operations";
}

<h1>Operations</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Card.CardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountBalance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Card.CardNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountBalance)
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="center">
    <button type="button" class="btn btn-success">@Html.ActionLink("Back", "Operations", "Home")</button>
    <button type="button" class="btn btn-success">@Html.ActionLink("Exit", "Index", "Home")</button>
</div>
