@model ATM.Models.CurrentBalance

@section Stylesheets {
    <link href="@Url.Content("/css/homeStyle.css")" rel="stylesheet" />
}

<h1>Balance</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                CardNumber
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountBalance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @ViewBag.CardNumber
            </td>
            <td>
                @Html.DisplayFor(model => model.Time)
            </td>
            <td>
                @Html.DisplayFor(model => model.AccountBalance)
            </td>
        </tr>
    </tbody>
</table>

<div class="row">
    <div class="col-sm-12 text-center">
        <button type="button" id="firstBtn" class="btn btn-info btn-md center-block" Style="width: 100px; margin: 25px;">@Html.ActionLink("Back", "Operations", "Home", new { cardNumber = @ViewBag.CardNumber })</button>
        <button type="button" id="secondBtn" class="btn btn-info btn-md center-block" Style="width: 100px;">@Html.ActionLink("Exit", "Index", "Home")</button>
    </div>
</div>

<script>
    const redirectTo = document.querySelector('#secondBtn');
    if (redirectTo) {
        redirectTo.addEventListener('click', redirectToIndex);
    }

    function redirectToIndex() {
        $.ajax({
            type: "post",
            data: {
                cardNumber: localStorage.getItem('cardNumberSt'),
            },
            url: "/Home/RedirectIndex",
            success: function (response) {
                window.location.href = response.redirectToUrl;
            }
        });
    }

</script>
