@model List<ATM.Models.Operation>

@section Stylesheets {
    <link href="@Url.Content("/css/homeStyle.css")" rel="stylesheet" />
}

<h1>Operations</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                NameOfOperation
            </th>
            <th>
                Date
            </th>
            <th>
                WithdrawnAmount
            </th>
            <th>
                AccountBalance
            </th>
            <th>
                CardNumber
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameOfOperation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WithdrawnAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountBalance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Card.CardNumber)
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col-sm-12 text-center center">
        <button type="button" id="firstBtn" class="btn btn-info btn-md center-block" Style="width: 100px;">@Html.ActionLink("Balance", "Balance", "Home", new { cardNumber = @ViewBag.CardNumber })</button>
        <button type="button" id="secondBtn" class="btn btn-info btn-md center-block" Style="width: 200px; margin:25px;">@Html.ActionLink("Withdraw amount", "Withdrawal", "Home", new { cardNumber = @ViewBag.CardNumber })</button>
        <button type="button" id="thirdBtn" class="btn btn-info btn-md center-block" Style="width: 100px;">@Html.ActionLink("Exit", "Index", "Home")</button>
    </div>
</div>
